.ant-collapse {
  .ant-collapse-header {
    padding: initial !important;

    .ant-collapse-arrow {
      position: absolute;
      top: 3rem;
      right: 2rem;
      margin: initial !important;
      z-index: 2;

      svg {
        transform: rotate(90deg);
      }
    }
  }

  .ant-collapse-item-active {
    .ant-collapse-header {
      .ant-collapse-arrow {
        svg {
          transform: rotate(-90deg) !important;
        }
      }

      .ant-card-bordered {
        border-color: rgba(0, 0, 0, 0.35);
      }
    }

    .ant-collapse-content-active {
      border: 0.1rem solid rgba(0, 0, 0, 0.35);

      .ant-collapse-content-box {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
      }
    }
  }
}
